html, body {
    height: 100%;
}

ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
    align-self: left;
    list-style-position: inside;
    width: 500px;
}

/* .main {
    color: blue;
} */

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: rgb(226, 226, 226); /* old IE */
    background-color: rgb(226, 226, 226); /* Modern Browsers */
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: green;
}